auth:
  strategy: anonymous

deployment:
  replicas: 1
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi

server:
  web_fqdn: kiali.prod.eu-central-1.localhost

external_services:
  prometheus:
    url: http://alloy.alloy.svc.cluster.local:9090
  grafana:
    enabled: true
    external_url: https://grafana.management.eu-central-1.localhost:8443
  tracing:
    enabled: true
    provider: tempo
    external_url: https://grafana.management.eu-central-1.localhost:8443
  istio:
    root_namespace: istio-system
