auth:
  strategy: anonymous

deployment:
  replicas: 1
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi

server:
  web_fqdn: kiali.prod.eu-central-1.localhost

external_services:
  prometheus:
    url: https://host.docker.internal:8443/mimir/prometheus
    query_scope:
      cluster: prod-eu-central-1
    custom_headers:
      # Skip TLS verification via custom CA would be better in production
      X-Scope-OrgID: anonymous
    tls_config:
      insecure_skip_verify: true
  grafana:
    enabled: true
    external_url: https://grafana.management.eu-central-1.localhost:8443
  tracing:
    enabled: true
    provider: tempo
    external_url: https://grafana.management.eu-central-1.localhost:8443
  istio:
    root_namespace: istio-system
