ingress:
  enabled: false

mimir:
  structuredConfig:
    multitenancy_enabled: false

    blocks_storage:
      backend: filesystem

    ruler_storage:
      backend: filesystem

    alertmanager_storage:
      backend: filesystem

ingester:
  replicas: 2
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      memory: 512Mi
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: standard

querier:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 256Mi

query_frontend:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 128Mi

distributor:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 256Mi

compactor:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      memory: 256Mi
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: standard

store_gateway:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      memory: 256Mi
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: standard

ruler:
  enabled: true

alertmanager:
  enabled: false

minio:
  enabled: false

nginx:
  enabled: true
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 64Mi
  ingress:
    enabled: false
