mimir:
  structuredConfig:
    multitenancy_enabled: false
    blocks_storage:
      backend: filesystem
    ruler_storage:
      backend: filesystem
    alertmanager_storage:
      backend: filesystem

distributor:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 256Mi

ingester:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      memory: 512Mi
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: standard

querier:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 256Mi

query_frontend:
  replicas: 0

compactor:
  replicas: 0

store_gateway:
  replicas: 0

ruler:
  enabled: true

alertmanager:
  enabled: false

minio:
  enabled: false

nginx:
  enabled: true
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 64Mi
