deploymentMode: SimpleScalable

serviceAccount:
  create: true

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1

  podSecurityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsNonRoot: true
    runAsUser: 10001
    seccompProfile:
      type: RuntimeDefault

  containerSecurityContext:
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
    allowPrivilegeEscalation: false

  storage:
    type: s3
    bucketNames:
      chunks: loki
      ruler: loki
      admin: loki
    s3:
      endpoint: minio.minio.svc.cluster.local:9000
      accessKeyId: minioadmin
      secretAccessKey: minioadmin
      insecure: true
      s3ForcePathStyle: true

  schemaConfig:
    configs:
      - from: "1970-01-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h

  storageConfig:
    tsdb_shipper:
      active_index_directory: /var/loki/tsdb-index
      cache_location: /var/loki/tsdb-cache

  query_scheduler:
    max_outstanding_requests_per_tenant: 32768

  querier:
    max_concurrent: 16

gateway:
  podSecurityContext:
    fsGroup: 101
    runAsGroup: 101
    runAsNonRoot: true
    runAsUser: 101
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
    allowPrivilegeEscalation: false
  replicas: 1
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi

read:
  replicas: 1
  resources:
    requests:
      cpu: 10m
      memory: 192Mi
    limits:
      memory: 192Mi

write:
  replicas: 1
  persistence:
    enabled: true
    storageClass: standard
    size: 1Gi
  resources:
    requests:
      cpu: 20m
      memory: 256Mi
    limits:
      memory: 256Mi

backend:
  replicas: 1
  persistence:
    enabled: true
    storageClass: standard
    size: 1Gi
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 256Mi

singleBinary:
  replicas: 0

chunksCache:
  enabled: false

resultsCache:
  enabled: false

lokiCanary:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi

monitoring:
  serviceMonitor:
    enabled: true
