apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: management-eu-central-1
servers: 1
agents: 1
image: rancher/k3s:v1.35.0-k3s1
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
  - port: 8443:443
    nodeFilters:
      - loadbalancer
  - port: 30080:30080
    nodeFilters:
      - loadbalancer
  - port: 30081:30081
    nodeFilters:
      - loadbalancer
  - port: 30317:30317
    nodeFilters:
      - loadbalancer
volumes:
  - volume: ${PROJECT_ROOT}:/gitops
    nodeFilters:
      - all
options:
  k3d:
    wait: true
    timeout: "300s"
  k3s:
    extraArgs:
      - arg: --disable=traefik,metrics-server
        nodeFilters:
          - server:*
    nodeLabels:
      - label: topology.kubernetes.io/region=eu-central-1
        nodeFilters:
          - server:*
          - agent:*
      - label: topology.kubernetes.io/zone=eu-central-1a
        nodeFilters:
          - server:0
      - label: topology.kubernetes.io/zone=eu-central-1b
        nodeFilters:
          - agent:0
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: false
