configs:
  secret:
    argocdServerAdminPassword: "$2a$10$5SjtJUemOejBX6VVAOCcluIooZCbN5sWoViXdG2CBot1Mu96NwXSS"
    argocdServerAdminPasswordMtime: "1970-01-01T00:00:00Z"

redis-ha:
  enabled: false

redis:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 32Mi

controller:
  replicas: 1
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 150m
      memory: 960Mi
    limits:
      memory: 960Mi

repoServer:
  replicas: 1
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 30m
      memory: 256Mi
    limits:
      memory: 256Mi
  volumes:
    - name: gitops
      hostPath:
        path: /gitops
        type: Directory
  volumeMounts:
    - name: gitops
      mountPath: /gitops
      readOnly: true

server:
  replicas: 1
  extraArgs:
    - --insecure
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 96Mi
    limits:
      memory: 96Mi

dex:
  enabled: false

applicationSet:
  replicas: 1
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 48Mi
    limits:
      memory: 48Mi

notifications:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 48Mi
    limits:
      memory: 48Mi
