apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kargo-controller-secrets
  namespace: kargo
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kargo-controller-secrets
  namespace: kargo
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kargo-controller-secrets
subjects:
  - kind: ServiceAccount
    name: kargo-controller
    namespace: kargo
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kargo-controller-shard
  namespace: kargo
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kargo-controller-shard
rules:
  - apiGroups:
      - kargo.akuity.io
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - argoproj.io
    resources:
      - analysistemplates
      - clusteranalysistemplates
      - rollouts
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kargo-controller-shard
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kargo-controller-shard
subjects:
  - kind: ServiceAccount
    name: kargo-controller-shard
    namespace: kargo
---
apiVersion: v1
kind: Secret
metadata:
  name: kargo-controller-shard-token
  namespace: kargo
  annotations:
    kubernetes.io/service-account.name: kargo-controller-shard
type: kubernetes.io/service-account-token
