apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kargo-controller-secrets
  namespace: kargo
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
