# Single-tenant datasource for Logs Drilldown compatibility
# See: https://github.com/grafana/loki/issues/19218
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: loki-management
spec:
  instanceSelector:
    matchLabels:
      app.kubernetes.io/name: grafana
  datasource:
    name: Loki (management-eu-central-1)
    uid: loki-management
    type: loki
    access: proxy
    url: http://loki-gateway.loki.svc.cluster.local:80
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000
      httpHeaderName1: X-Scope-OrgID
    secureJsonData:
      httpHeaderValue1: management-eu-central-1
