apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: mimir
spec:
  instanceSelector:
    matchLabels:
      app.kubernetes.io/name: grafana
  datasource:
    name: Mimir
    uid: mimir
    type: prometheus
    access: proxy
    url: http://mimir-gateway.mimir.svc.cluster.local:80/prometheus
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 5s
      httpMethod: POST
      httpHeaderName1: X-Scope-OrgID
    secureJsonData:
      httpHeaderValue1: management-eu-central-1|dev-eu-central-1|prod-eu-central-1
