apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    app.kubernetes.io/name: grafana
spec:
  deployment:
    spec:
      replicas: 1
      template:
        spec:
          containers:
            - name: grafana
              resources:
                requests:
                  cpu: 50m
                  memory: 256Mi
                limits:
                  memory: 256Mi
  config:
    security:
      admin_user: admin
      admin_password: admin
    auth:
      disable_login_form: 'false'
    auth.anonymous:
      enabled: 'true'
      org_role: Editor
    auth.basic:
      enabled: 'true'
