global:
  clusterDomain: cluster.local

tempo:
  structuredConfig:
    multitenancy_enabled: true
    query_frontend:
      multi_tenant_queries_enabled: true

traces:
  otlp:
    grpc:
      enabled: true
    http:
      enabled: true

serviceAccount:
  create: true

ingester:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: standard
  config:
    replication_factor: 1
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 256Mi

distributor:
  replicas: 1
  config:
    log_received_spans:
      enabled: false
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 128Mi

compactor:
  replicas: 1
  config:
    compaction:
      block_retention: 48h
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 256Mi

querier:
  replicas: 1
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 256Mi

queryFrontend:
  replicas: 1
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 128Mi

metricsGenerator:
  enabled: true
  replicas: 1
  config:
    storage:
      remote_write:
        - url: http://mimir-gateway.mimir.svc.cluster.local:80/api/v1/push
          headers:
            X-Scope-OrgID: management-eu-central-1
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 256Mi

storage:
  trace:
    backend: s3
    s3:
      endpoint: minio.minio.svc.cluster.local:9000
      bucket: tempo
      access_key: minioadmin
      secret_key: minioadmin
      insecure: true
      forcepathstyle: true

overrides:
  defaults:
    metrics_generator:
      processors:
        - service-graphs
        - span-metrics
        - local-blocks

gateway:
  enabled: true
  replicas: 1
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi

memcached:
  enabled: false

metaMonitoring:
  serviceMonitor:
    enabled: true
