tempo:
  multitenancyEnabled: true

  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 256Mi

  storage:
    trace:
      backend: s3
      s3:
        endpoint: minio.minio.svc.cluster.local:9000
        bucket: tempo
        access_key: minioadmin
        secret_key: minioadmin
        insecure: true
        forcepathstyle: true
      wal:
        path: /var/tempo/wal

  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"

  metricsGenerator:
    enabled: true
    remoteWriteUrl: "http://mimir-gateway.mimir.svc.cluster.local:80/api/v1/push"
    remoteWriteHeaders:
      X-Scope-OrgID: management-eu-central-1

  overrides:
    defaults:
      metrics_generator:
        processors:
          - service-graphs
          - span-metrics
          - local-blocks

  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL

persistence:
  enabled: true
  storageClassName: standard
  size: 10Gi

securityContext:
  runAsNonRoot: true
  runAsUser: 10001
  runAsGroup: 10001
  fsGroup: 10001
  seccompProfile:
    type: RuntimeDefault

serviceMonitor:
  enabled: true
