cni:
  ambient:
    enabled: true
  logLevel: info
  cniConfDir: /var/lib/rancher/k3s/agent/etc/cni/net.d
  cniBinDir: /var/lib/rancher/k3s/data/cni

resources:
  requests:
    cpu: 10m
    memory: 64Mi
  limits:
    memory: 64Mi
