apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: localhost-ca
  namespace: cert-manager
spec:
  isCA: true
  commonName: localhost-ca
  secretName: localhost-ca-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned
    kind: ClusterIssuer
    group: cert-manager.io
