apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-gateway-config
  namespace: istio-system
data:
  deployment: |
    spec:
      template:
        spec:
          nodeSelector:
            node-role.kubernetes.io/control-plane: ""
          tolerations:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
              effect: NoSchedule
          containers:
            - name: istio-proxy
              resources:
                requests:
                  cpu: 10m
                  memory: 128Mi
                limits:
                  memory: 128Mi
              ports:
                - containerPort: 80
                  hostPort: 80
                  protocol: TCP
                - containerPort: 443
                  hostPort: 443
                  protocol: TCP
                - containerPort: 30317
                  hostPort: 30317
                  protocol: TCP
  service: |
    spec:
      type: ClusterIP
