apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: allow-grafana
  namespace: mimir
spec:
  rules:
    - from:
        - source:
            namespaces:
              - grafana
