providers:
  kubernetesGateway:
    enabled: true

gateway:
  enabled: false

service:
  type: LoadBalancer

ports:
  web:
    port: 9080
    exposedPort: 9080
    protocol: TCP
  websecure:
    port: 9443
    exposedPort: 9443
    protocol: TCP
    tls:
      enabled: true

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    memory: 64Mi

metrics:
  prometheus:
    entryPoint: metrics
    service:
      enabled: true
    serviceMonitor:
      enabled: true

logs:
  general:
    level: INFO
  access:
    enabled: true

deployment:
  replicas: 1

ingressClass:
  enabled: false

ingressRoute:
  dashboard:
    enabled: false
