replicaCount: 1

service:
  type: ClusterIP
  ports:
    - name: http
      port: 9080
      targetPort: 9080
      protocol: TCP
    - name: https
      port: 9443
      targetPort: 9443
      protocol: TCP

nodeSelector:
  node-role.kubernetes.io/control-plane: ""

tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule

containerPorts:
  - containerPort: 9080
    hostPort: 9080
    protocol: TCP
  - containerPort: 9443
    hostPort: 9443
    protocol: TCP

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    memory: 128Mi
