alloy:
  mounts:
    varlog: true

  configMap:
    create: false
    name: alloy-config
  securityContext:
    privileged: true
    allowPrivilegeEscalation: true
    capabilities:
      drop:
        - ALL

configReloader:
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

global:
  podSecurityContext:
    runAsNonRoot: false
#    runAsUser: 1001
    seccompProfile:
      type: RuntimeDefault

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 128Mi

