apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: dev-eu-central-1
  namespace: argocd
spec:
  description: Platform and service components for the dev cluster
  sourceRepos:
    - "*"
  destinations:
    - namespace: "*"
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
  namespaceResourceWhitelist:
    - group: "*"
      kind: "*"
