apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: services-dev-eu-central-1
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "10"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: dev-eu-central-1
  source:
    repoURL: file:///gitops
    targetRevision: HEAD
    path: apps/dev-eu-central-1/services
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
