apiVersion: kargo.akuity.io/v1alpha1
kind: Project
metadata:
  name: reference-service-go
---
apiVersion: kargo.akuity.io/v1alpha1
kind: ProjectConfig
metadata:
  name: reference-service-go
spec:
  promotionPolicies:
    - stageSelector:
        name: dev
      autoPromotionEnabled: true
---
apiVersion: kargo.akuity.io/v1alpha1
kind: PromotionTask
metadata:
  name: promote-reference-service-go
spec:
  vars:
    - name: gitRepo
      value: https://github.com/monkescience/gitops.git
    - name: chart
      value: oci://ghcr.io/monkescience/helm-charts/reference-service-go
    - name: workDir
      value: ./repo
  steps:
    - uses: git-clone
      config:
        repoURL: ${{ vars.gitRepo }}
        checkout:
          - branch: main
            path: ${{ vars.workDir }}
    - uses: yaml-update
      config:
        path: ${{ vars.workDir }}/apps/eu-central-1-dev/services/reference-service-go.yaml
        updates:
          - key: spec.sources.0.targetRevision
            value: ${{ chartFrom( vars.chart ).Version }}
    - uses: git-commit
      config:
        message: "chore(kargo): promote reference-service-go chart to ${{ chartFrom( vars.chart ).Version }} (${{ ctx.stage }})"
        path: ${{ vars.workDir }}
    - uses: git-push
      config:
        path: ${{ vars.workDir }}
    - uses: argocd-update
      config:
        apps:
          - name: reference-service-go
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: dev
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: reference-service-go
      sources:
        direct: true
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote-reference-service-go
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: reference-service-go
spec:
  subscriptions:
    - chart:
        repoURL: oci://ghcr.io/monkescience/helm-charts/reference-service-go
        semverConstraint: '>= 0.0.0-0'
