mode: standalone

rootUser: minioadmin
rootPassword: minioadmin

buckets:
  - name: mimir
    policy: none
    purge: false
  - name: loki
    policy: none
    purge: false
  - name: tempo
    policy: none
    purge: false

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    memory: 256Mi

persistence:
  enabled: true
  storageClass: standard
  size: 20Gi

replicas: 1

service:
  type: ClusterIP
  port: 9000

consoleService:
  type: ClusterIP
  port: 9001

securityContext:
  enabled: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  capabilities:
    drop:
      - ALL

makeBucketJob:
  securityContext:
    enabled: true
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault
  resources:
    requests:
      memory: 64Mi

makeUserJob:
  securityContext:
    enabled: true
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault
  resources:
    requests:
      memory: 64Mi

postJob:
  securityContext:
    enabled: true
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    fsGroup: 1000
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault

metrics:
  serviceMonitor:
    enabled: true
