apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: loki-datasource
spec:
  instanceSelector:
    matchLabels:
      app.kubernetes.io/name: grafana
  datasource:
    name: Loki
    type: loki
    access: proxy
    url: http://loki-gateway.loki.svc.cluster.local:80
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000
