crds:
  enabled: true
prometheus:
  enabled: true
serviceAccount:
  create: true
resources:
  requests:
    cpu: 10m
    memory: 64Mi
  limits:
    memory: 64Mi
webhook:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi
cainjector:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi
