replicaCount: 1

resources:
  requests:
    cpu: 250m
    memory: 128Mi
  limits:
    memory: 128Mi

autoscaling:
  minReplicas: 1
  maxReplicas: 2

env:
  region: "eu-central-1"
  environment: "dev"
