crds:
  enabled: true
prometheus:
  enabled: true
serviceAccount:
  create: true
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    memory: 64Mi
webhook:
  resources:
    requests:
      cpu: 25m
      memory: 32Mi
    limits:
      memory: 32Mi
cainjector:
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      memory: 64Mi
