serviceMonitor:
  enabled: true
namespaceScope: false
resources:
  requests:
    cpu: 20m
    memory: 128Mi
  limits:
    memory: 128Mi
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1001
  seccompProfile:
    type: RuntimeDefault
